@import 'tailwindcss';

@variant dark (&:where(.dark, .dark *));

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html,
  body {
    height: 100%;
  }

  body {
    @apply bg-slate-100 text-slate-900 antialiased dark:bg-slate-950 dark:text-slate-100;
  }

  app-root {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
  }
}
